

{% block main_content %}
<div id="placeholder"></div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="https://13.113.111.2/web-apps/apps/api/documents/api.js"></script>
<script type="text/javascript">

var config = {
    "document": {
        "fileType": "docx",
        "key": "{{doc_key}}",
        "title": "{{doc_title}}",
        "url": "{{doc_url}}",
    },
    "documentType": "text",
    "editorConfig": {
        "callbackUrl": "{% url "onlyoffice_editor_callback" %}",
    },
}; 
var docEditor = new DocsAPI.DocEditor("placeholder", config);
</script>
{% endblock %}
